@import '../variables.scss';

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, $tileWidth);
  justify-content: center;
  padding: 24px 24px 36px;
  transition: $transition;

  &.mod-disabled {

    .tile-link {
      filter: $blur;
    }
  }
}

.tile {
  border-radius: 8px;
  width: 100%;

  &:hover {
    .tile-border-outer {
      background-color: $color-tile-background;
    }

    .tile-border-inner {
      background-color: $color-background;
    }
  }
}

.tile-border {
  border-radius: 6px;
  position: relative;
  transition: $transition;
  z-index: 2;
}

.tile-border-outer {
  padding: 4px;
}

.tile-border-inner {
  padding: 6px;
  z-index: 4;
}

.title-image-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 10px 0;
}

.tile-image {
  max-height: 100px;
  max-width: calc(#{$tileWidth} * 0.8);
}

.tile-link {
  background-color: $color-tile-background;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: $transition;
  z-index: 6;
}

.tile-title {
  color: $color-tile-title;
  font-size: small;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:visited {
    color: unset;
  }
}
