@import '../colors.scss';

$tileWidth: 260px;

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, $tileWidth);
  justify-content: center;
  margin: 24px 24px 36px;
}

.tile {
  border-radius: 8px;
  transition: all 0.2s ease;
  width: 100%;

  &:hover {
    background-color: $tile-background;
  }
}

.tile-border {
  background-color: $background;
  border-radius: 6px;
  margin: 4px;
  padding: 6px;
}

.title-icon-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 10px 0;
}

.tile-icon {
  max-height: 100px;
  max-width: calc(#{$tileWidth} * 0.8);
}

.tile-link {
  background-color: $tile-background;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.tile-name {
  color: lighten($background, 20%);
  font-size: small;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:visited {
    color: unset;
  }
}
