@import '../variables.scss';

.activator-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.activator {
  color: $color-tile-background;
  cursor: pointer;
  font-size: 3em;
  opacity: 0.2;
  transition: $transition;

  &:hover {
    opacity: 1;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}

.link-column {
  padding: 4px;
  white-space: nowrap;

  &.mod-icon {
    min-width: 300px;
  }
}
