@import '../variables.scss';

.button-save {
  width: 150px;
}

.button-toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-toggle {
  color: $color-tile-background;
  cursor: pointer;
  font-size: 3em;
  opacity: 0.2;
  transition: $transition;

  &:hover {
    opacity: 1;
  }

  &.mod-disabled {
    filter: $blur;
  }
}

.links-container {
  display: flex;
  overflow: auto;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.link-column {
  padding: 4px;
  white-space: nowrap;

  &.mod-icon {
    min-width: 300px;
  }
}

.modal {
  background-color: $color-tile-background;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-height: 80vh;
  max-width: 80vw;
  min-height: 80vh;
  // min-width: 80vw;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
}

.modal-overlay {
  background-color: $color-background;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.mod-clickable {
    cursor: pointer;
  }
}
