@import '../variables.scss';

.button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  align-items: flex-start;
  background-color: $color-button-default;
  border: 1px solid $color-border;
  border-image: initial;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: buttontext;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font: 800 1em system-ui;
  letter-spacing: normal;
  margin: 0em;
  min-width: 110px;
  padding: 10px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;

  &:focus {
    outline: none;
  }

  &:not(.mod-disabled) {
    &:hover {
      background-color: darken($color-button-default, 5%);
    }
  }

  &.mod-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.mod-primary {
    color: white;
    background-color: $color-button-primary;
    border: 1px solid $color-button-primary-border;

    &:not(.mod-disabled) {
      &:hover {
        background-color: darken($color-button-primary, 5%);
      }
    }
  }
}
