@import '../variables.scss';

.button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  // padding: 10px;
  align-items: center;
  background-color: $button-default-color;
  border-image: initial;
  border-radius: $border-radius;
  border: $border-default;
  box-sizing: border-box;
  color: buttontext;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  font: 800 1em system-ui;
  height: $row-height;
  justify-content: center;
  letter-spacing: normal;
  margin: 0;
  min-width: 116px;
  padding: 0;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;

  &:focus {
    outline: none;
  }

  &:not(.mod-disabled) {
    &:hover {
      background-color: darken($button-default-color, 5%);
    }
  }

  &.mod-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.mod-icon-only {
    border-radius: 50%;
    font-size: $font-icon-size;
    min-width: unset;
    width: $row-height;
  }

  &.mod-primary {
    color: white;
    background-color: $button-primary-color;
    border: $border-height solid $button-primary-border-color;

    &:not(.mod-disabled) {
      &:hover {
        background-color: darken($button-primary-color, 5%);
      }
    }
  }
}

.icon-close {
  color: red;
}
