@import '../variables.scss';

$menu-z-index: 1050;

@mixin triangle-up {
  border-bottom: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}

.dropdown-container {
  display: flex;
  flex-direction: column;

  .dropdown-header {
    align-items: center;
    border-bottom: $border-default;
    display: flex;
    height: $row-height;
    justify-content: center;
  }

  .dropdown-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    max-height: 300px;
    overflow: auto;
    padding: 0;
  }

  .dropdown-list-item {
    height: $row-height;
    padding: 10px;
    transition: all 0.1s ease;
    white-space: nowrap;

    &:nth-child(even) {
      background-color: $row-even-color;
    }

    &:hover {
      background-color: $row-highlight-background-color;
      color: white;
    }
  }

  .dropdown-menu {
    background-color: $dropdown-menu-background-color;
    border-radius: $border-radius;
    border: $border-default;
    box-shadow: $box-shadow;
    cursor: default;
    margin: 8px 0 0;
    padding: 10px;
    position: absolute;
    right: -1px;
    top: $row-height;
    z-index: $menu-z-index;
  }

  .dropdown-menu-container {
    position: relative;
  }

  .input {
    cursor: default;
  }

  .input-command-button {
    &:not(.mod-clear) {
      border-left: $border-default;
    }

    &.mod-dropdown {
      background-color: $button-default-color;
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
      font-size: $icon-size;

      &:hover {
        background-color: $button-highlight-default-color;
      }

      &.is-expanded {
        &::before {
          @include triangle-up;
          bottom: -12px;
          z-index: #{$menu-z-index + 2};
        }

        &::after {
          @include triangle-up;
          border-bottom-color: $border-color;
          bottom: -11px;
          z-index: #{$menu-z-index + 1};
        }
      }
    }
  }

  .input-command-icon {
    transition: $util-transition;

    &.is-expanded {
      transform: rotate(-180deg);
    }
  }
}
