@import '../variables.scss';

@mixin triangle-up {
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  height: 0;
  left: calc(50% - 10px);
  position: absolute;
  width: 0;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .dropdown-menu {
    margin: 10px 0 0;
    position: absolute;
    top: $row-height;
    z-index: 1050;
  }

  .dropdown-list {
    background-color: $dropdown-menu-background-color;
    border-radius: $border-radius;
    border: $border-default;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    max-height: 300px;
    overflow: auto;
    padding: 0;

    &::before {
      @include triangle-up;
      top: -8px;
      z-index: 110;
    }

    &::after {
      @include triangle-up;
      border-bottom-color: $border-color;
      top: -9px;
      z-index: 100;
    }
  }

  .dropdown-list-item {
    height: $row-height;
    padding: 10px;

    &:nth-child(even) {
      background-color: $row-even-color;
    }
  }
}
