@import '../variables.scss';

@mixin triangle-up {
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  height: 0;
  left: calc(50% - 10px);
  position: absolute;
  width: 0;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .dropdown-menu {
    background-color: $dropdown-menu-background-color;
    border-radius: $border-radius;
    border: $border-default;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: default;
    margin: 10px 0 0;
    padding: 10px;
    position: absolute;
    top: $row-height;
    z-index: 1050;

    &::before {
      @include triangle-up;
      top: -9px;
      z-index: 110;
    }

    &::after {
      @include triangle-up;
      border-bottom-color: $border-color;
      top: -10px;
      z-index: 100;
    }
  }

  .dropdown-header {
    align-items: center;
    border-bottom: $border-default;
    display: flex;
    height: $row-height;
    justify-content: center;
  }

  .dropdown-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    max-height: 300px;
    overflow: auto;
    padding: 0;
  }

  .dropdown-list-item {
    height: $row-height;
    padding: 10px;
    transition: all 0.1s ease;

    &:nth-child(even) {
      background-color: $row-even-color;
    }

    &:hover {
      background-color: $row-highlight-background-color;
      color: white;
    }
  }
}
