@import '../variables.scss';

$input-height: calc(#{$row-height} - #{2 * $border-weight});

.input-container {
  align-items: center;
  display: flex;
  height: $row-height;
  position: relative;
  width: 100%;

  &:focus {
    outline: none;
  }

  &.mod-checkbox {
    cursor: pointer;

    &:hover {
      .checked-icon {
        &.mod-unchecked {
          border-color: $border-hover-color;
        }
      }
    }
  }

  &.mod-focused {
    &:not(.mod-empty) {
      .input-icon {
        display: flex;
        // opacity: 1;
      }
    }
  }

  &.mod-blurring {
    .input-icon {
      opacity: 0;
    }
  }

  .checked-icon {
    align-items: center;
    color: $border-color;
    display: flex;
    font-size: $font-icon-size;
    height: $row-height;
    justify-content: center;

    &.mod-checked {
      color: $button-primary-color;
    }

    &.mod-unchecked {
      border: 2px solid $border-color;
      border-radius: 50%;
      height: calc(1em - 4px);
      width: calc(1em - 4px);
    }
  }

  .input-icon {
    align-items: center;
    cursor: pointer;
    // opacity: 0;
    display: none;
    height: $row-height;
    justify-content: center;
    position: absolute;
    right: 0;
    width: $row-height;
  }
}

.input {
  align-items: center;
  display: flex;
  transition: $util-transition;

  &:not(.mod-checkbox) {
    border-radius: $border-radius;
    border: $border-default;
    flex: 1;
    font-size: 1em;
    height: $input-height;
    min-height: $input-height;
    padding: 0 10px;
  }

  &:hover {
    border-color: $border-hover-color;
  }

  &:focus {
    border-color: $border-focus-color;
    outline: none;
  }

  &.mod-checkbox {
    display: none;
  }

  &.mod-checkbox {
    cursor: pointer;
    margin: 0;
  }
}
