@import '../variables.scss';

.input-container {
  align-items: center;
  display: flex;

  .checked-icon {
    align-items: center;
    color: $border-color;
    display: flex;
    font-size: $font-icon-size;
    height: $row-height;
    justify-content: center;

    &.mod-checked {
      color: $button-primary-color;
    }

    &.mod-unchecked {
      border: 1px solid $border-color;
      border-radius: 50%;
      height: calc(1em - 2px);
      width: calc(1em - 2px);

      &:hover {
        border-color: $border-hover-color;
      }
    }
  }
}

.input {
  align-items: center;
  display: flex;
  transition: $util-transition;

  &:not(.mod-checkbox) {
    border-radius: $border-radius;
    border: $border-default;
    flex: 1;
    height: calc(#{$row-height} - #{2 * $border-height});
    font-size: 1em;
    margin: 0;
    padding: 0 10px;
  }

  &:hover {
    border-color: $border-hover-color;
  }

  &:focus {
    border-color: $border-focus-color;
    outline: none;
  }

  &.mod-checkbox {
    display: none;
  }

  &.mod-checkbox {
    cursor: pointer;
    margin: 0;
  }
}
