@import '../variables.scss';

$input-height: calc(#{$row-height} - #{2 * $border-width});

.input {
  align-items: center;
  display: flex;
  transition: $util-transition;

  &:not(.mod-checkbox) {
    border-radius: $border-radius;
    border: $border-default;
    flex: 1;
    font-size: 1em;
    height: $input-height;
    min-height: $input-height;
    padding: 0 10px;
  }

  &.is-hovering-container {
    border-color: $border-hover-color;
  }

  &.is-focused-container {
    border-color: $border-focus-color;
    outline: none;
  }

  &.mod-checkbox {
    display: none;
  }

  &.mod-checkbox {
    cursor: pointer;
    margin: 0;
  }
}

.input-container {
  align-items: center;
  display: flex;
  height: $row-height;
  position: relative;
  width: 100%;

  &.is-focused-container {
    outline: none;
  }

  &.mod-checkbox {
    cursor: pointer;

    &.is-hovering-container {
      .checked-icon {
        &.is-unchecked {
          border-color: $border-hover-color;
        }
      }
    }
  }

  &.mod-text {
    .input-wrapper {
      align-items: center;
      display: flex;
      flex: 1;
    }
  }

  .checked-icon {
    align-items: center;
    color: $border-color;
    display: flex;
    font-size: 1.5em;
    height: $row-height;
    justify-content: center;

    &.mod-checked {
      color: $button-primary-color;
    }

    &.is-unchecked {
      border: 2px solid $border-color;
      border-radius: 50%;
      height: calc(1em - 4px);
      width: calc(1em - 4px);
    }
  }

  .input-commands {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: $border-width;
    top: 1px;
  }

  .input-command-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: $input-height;
    justify-content: center;
    transition: $util-transition;
    width: $input-height;

    &.mod-clear {
      color: $icon-color-disabled;
      display: none;
      font-size: $icon-size;

      &:hover {
        color: $icon-color-danger;
      }
    }
  }
}

.input-wrapper {

  &.is-focused-container,
  &.is-hovering-container {
    &:not(.is-empty) {
      .input-command-icon {

        &.mod-clear {
          display: flex;
        }
      }
    }
  }
}
