@import '../variables.scss';

.images-json {
  background-color: darken($background-color, 10%);
  border: none;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  height: calc(#{$settings-tab-height} - 20px);
  padding: 10px;
  resize: none;
  width: calc(100% - 20px);
  border-radius: $border-radius;

  &:focus {
    outline: none;
  }
}
