@import '../variables.scss';

$list-height: calc(#{$settings-tab-height} - #{$row-height});

.general-container {
  .general-folder {
    margin-bottom: 15px;
  }

  pre {
    background-color: darken($background-color, 5%);
    border-radius: $border-radius;
    color: white;
    height: $list-height;
    margin: 0;
    overflow: auto;
    padding: 20px;
  }
}
