@import './variables.scss';

html {
  background-color: $color-background-loading;
  transition: $transition;

  &.mod-disabled {
    overflow: hidden;
  }

  &.mod-loaded {
    background-color: $color-background;
  }
}

.app {
  position: relative;
  background-color: $color-background-loading;
  opacity: 0;
  transition: $transition;

  &.mod-enter-active,
  &.mod-enter-done {
    background-color: $color-background;
    opacity: 1;
    transition: $transition;
  }
}

.label {
  color: $color-label;
  font-weight: bold;
  padding: 10px;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
