@import './variables.scss';

$transition: all .7s ease;

html {
  background-color: $background-loading-color;
  transition: $transition;

  &.is-disabled {
    overflow: hidden;
  }

  &.mod-tiles-loaded {
    background-color: $background-color;
  }
}

.app {
  position: relative;
  background-color: $background-loading-color;
  opacity: 0;
  transition: $transition;

  &.mod-enter-active,
  &.mod-enter-done {
    background-color: $background-color;
    opacity: 1;
    transition: $transition;
  }
}

.italics {
  font-style: italic;
}

.label {
  color: $label-color;
  font-weight: bold;
  white-space: nowrap;

  &.is-disabled {
    color: $label-disabled-color;
    cursor: not-allowed;
  }

  &.mod-sub {
    color: $label-subtext-color;
  }
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
