@import './variables.scss';

html {
  background-color: $background-loading-color;
  transition: $util-transition;

  &.mod-disabled {
    overflow: hidden;
  }

  &.mod-loaded {
    background-color: $background-color;
  }
}

.app {
  position: relative;
  background-color: $background-loading-color;
  opacity: 0;
  transition: $util-transition;

  &.mod-enter-active,
  &.mod-enter-done {
    background-color: $background-color;
    opacity: 1;
    transition: $util-transition;
  }
}

.label {
  color: $label-color;
  font-weight: bold;
  white-space: nowrap;

  &.mod-sub {
    color: $label-subtext-color;
  }
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
