$background-color: #444541;
$background-loading-color: white;

$border-color: #D6D6D6;
$border-focus-color: #408BF9;
$border-height: 1px;
$border-hover-color: darken(#D6D6D6, 15%);
$border-radius: 4px;
$border-default: $border-height solid $border-color;

$button-default-color: lighten($border-color, 10%);
$button-primary-border-color: darken(#408BF9, 20%);
$button-primary-color: #408BF9;
$button-width: 120px;

$font-icon-size: 1.5em;

$label-color: black;
$label-subtext-color: #878787;
$label-width: 120px;

$row-even-color: lighten($border-color, 10%);
$row-height: 38px;

$tile-background-color: white;
$tile-title-color: #878787;
$tile-width: 260px;

$util-blur: blur(20px);
$util-transition: all 0.2s ease;
